.App {
  text-align: center;
}

.App-header {
  background-color: #282c34;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

body {
  background-image: url('pic1.jpg');
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}
h1 {
margin-top: 0;
font-weight: 500;
}
.bgrid {
  display: flex;
  padding-left: 15%;
  padding-top: 5%;
}
.options {
  display: flex;
  float: left;
  overflow: auto;
  background-color: #ffffff;
  border-radius: 30px;
  border: 1px solid black;
  opacity: 0.3;
  width: 500px;
  padding-left: 3%;
  padding-top: 3%;
  padding-bottom: 3%;
  padding-right: 3%;
}

.added{
  background-color:#121311;
  max-height: 15%;
  border-radius: 25px;
  min-width: 100%;
}
.venue {
  display: flex;
  justify-content: center;
  color:#282c34;
  float: right;
  padding-right: 20%;
  padding-left: 20%;
  padding-top: 10%;
}
form {
position: relative;
min-width:150%;
border-radius: 30px;
background: #fff;
}

.form-inner {
padding: 40px;
max-width: 74%;
}
.form-inner input,
.form-inner textarea {
display: block;
width: 100%;
padding: 15px;
margin-bottom: 10px;
border: none;
border-radius: 20px;
background: #d0dfe8;
}
.form-inner textarea {
resize: none;
}
button {
width: 100%;
padding: 10px;
margin-top: 20px;
border-radius: 20px;
border: none;
border-bottom: 4px solid #3e4f24;
background: #5a7233; 
font-size: 16px;
font-weight: 400;
color: #fff;
}
button:hover {
background: #3e4f24;
} 
@media (min-width: 568px) {
form {
width: 60%;
}
}